* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-container {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo {
    height: 40px;
    width: auto;
}

.navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navbar-container ul li {
    padding: 0 20px;
    font-size: 0.8rem;
    color: white;
    transition: all 500ms ease;
}

.navbar-container ul li:hover {
    color: #b5a106;
    cursor: pointer;
}

.navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

.showcase {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(/img/showcase.jpg) center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    color: yellow;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.showcase-container p {
    font-size: 0.9rem;
    margin: 15px 0;
}

.btn-primary {
    background: #b5a106;
    color: white;
    padding: 20px 50px;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 500ms ease;
}

.btn-primary:hover {
    color: blue;
    background: #b9af06;
    cursor: pointer;
}

.footer {
    background: black;
    color: white;
    padding: 80px 0;
}

.footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer-menu {
    margin: 0 50px;
    list-style: none;
}

.footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #b5a106;
}

.footer-menu .footer-menu-item {
    margin: 20px 0;
    transition: all 500ms ease;
}

.footer-menu .footer-menu-item:hover {
    color: #b5a106;
    cursor: pointer;
}

.socials {
    display: flex;
}

.socials i {
    margin: 0 10px;
    font-size: 1.5rem;
    transition: all 500ms ease;
}

.socials i:hover {
    color: #b5a106;
    cursor: pointer;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.footer-info .footer-info-items {
    list-style: none;
    display: flex;
}

.footer-info .footer-info-item {
    margin: 0 10px;
    font-weight: bold;
    color: #b5a106;
    font-size: 0.75rem;
    transition: all 500ms ease;
}

.footer-info .footer-info-item:hover {
    color: white;
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    transition: all 500ms ease;
}

.footer-info .rights .country:hover {
    color: #b5a106;
    cursor: pointer;
} 

.footer-info .rights p {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
}

.brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}



